div(style='margin-left: 20%; margin-right: 20%; background-color: #FFFFFF; border: none; padding: 40px;', class='well')
  h2 Hi there!
  p Howler is an <strong>experiment</strong>.
  p It is written entirely with <a href='http://nodejs.org'><strong>node.js</strong></a>.
  p This is a technology demo using <strong>Turbulence.js</strong>, a framework for handling annotated data streams, that will be released soon. Realtime support is in the works!
  p Howler uses <a href='http://expressjs.com'><strong>express.js</strong></a> for session management and request routing, <a href='https://github.com/ciaranj/connect-auth'><strong>connect-auth</strong></a> for the OAuth2 Facebook connect, and some adulterated <a href='http://jade-lang.com/'><strong>Jade</strong></a> for templating.
  p <a href='http://www.mongodb.org/'><strong>MongoDB</strong></a>, is used by Turbulence for storing howl data, through <a href='http://mongoosejs.com'><strong>Mongoose</strong></a>.
  p Howler is made by <a href='http://adityabhatt.org'><strong>Aditya Bhatt</strong></a>. The source code is on <a href='https://github.com/adityab/Howler'><strong>github</strong></a>.
