h3(style='font-weight:bold;font-size:20px;text-align:center;')='Howls by '+user.data.content.firstName+' '+user.data.content.lastName

-if(account && account.data.content.username && account.data.content.username == user.data.content.username)
    div(style='margin-left: 30%; margin-right: 30%;')
      h5 What do you want to howl about?
      form(action='/howl',method='post')
        input(type='submit',value='Howl!',class='btn primary')
        textarea(name='howl', style: 'width: 100%;')

div(style='margin-left: 30%; margin-right: 30%; background-color: #FFFFFF; border: none; padding: 40px;', class='well')
  -for(var i=0;i<howls.length;i++)
    blockquote
      span=howls[i].data.content.text
      div(style='color:#999999;font-size:12px;')=howLongAgo(howls[i].date)+' ago'
      a(href='/'+howls[i].data.content.tags[0], class='label notice')=howls[i].data.content.tags[1]+' '+howls[i].data.content.tags[2]
